In [1]:
import pandas as pd
import numpy as np
import os

In [70]:
#file_path = './data/f1_data_2018_2021p.csv'
file_path = './data/f1_data_2018_2023.csv'
data_df = pd.read_csv(file_path)

In [72]:
data_df.shape

(2620, 38)

In [82]:
data_df[~data_df['Position_Race'].isna()]

,DriverId,TeamName,TeamId,FullName,Position_Race,ClassifiedPosition,GridPosition,Time,Status,RaceDate,...,Q3_Qual,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed,Year,RaceName
0,vettel,Ferrari,ferrari,Sebastian Vettel,1.0,1,3.0,0 days 01:29:33.283000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.838000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
1,hamilton,Mercedes,mercedes,Lewis Hamilton,2.0,2,1.0,0 days 01:29:38.319000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.164000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
2,raikkonen,Ferrari,ferrari,Kimi Räikkönen,3.0,3,2.0,0 days 01:29:39.592000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.828000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
3,ricciardo,Red Bull Racing,red_bull,Daniel Ricciardo,4.0,4,8.0,0 days 01:29:40.352000,Finished,2018-03-25 05:10:00,...,0 days 00:01:22.152000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
4,alonso,McLaren,mclaren,Fernando Alonso,5.0,5,10.0,0 days 01:30:01.169000,Finished,2018-03-25 05:10:00,...,NaN,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,sargeant,Williams,williams,Logan Sargeant,16.0,16,20.0,0 days 01:28:30.415000,Finished,2023-11-26 13:00:00,...,NaN,26.962821,51.000000,1014.927564,0.000000,33.460897,284.935897,1.794872,2023,Abu Dhabi Grand Prix
2616,zhou,Alfa Romeo,alfa,Guanyu Zhou,17.0,17,19.0,0 days 01:28:32.046000,Finished,2023-11-26 13:00:00,...,NaN,26.962821,51.000000,1014.927564,0.000000,33.460897,284.935897,1.794872,2023,Abu Dhabi Grand Prix
2617,sainz,Ferrari,ferrari,Carlos Sainz,18.0,18,16.0,NaN,Retired,2023-11-26 13:00:00,...,NaN,26.962821,51.000000,1014.927564,0.000000,33.460897,284.935897,1.794872,2023,Abu Dhabi Grand Prix
2618,bottas,Alfa Romeo,alfa,Valtteri Bottas,19.0,19,18.0,NaN,+1 Lap,2023-11-26 13:00:00,...,NaN,26.962821,51.000000,1014.927564,0.000000,33.460897,284.935897,1.794872,2023,Abu Dhabi Grand Prix
2619,kevin_magnussen,Haas F1 Team,haas,Kevin Magnussen,20.0,20,17.0,NaN,+1 Lap,2023-11-26 13:00:00,...,NaN,26.962821,51.000000,1014.927564,0.000000,33.460897,284.935897,1.794872,2023,Abu Dhabi Grand Prix

In [75]:
# columns_to_drop = ['Q1_Race', 'Q2_Race', 'Q3_Race', 'CountryCode', 'FirstName', 'LastName', 
#                    'DriverNumber', 'BroadcastName', 'Abbreviation', 'Points', 'HeadshotUrl', 'TeamColor', 
#                    'TeamName', 'FullName']
columns_to_drop = ['Q1_Race', 'Q2_Race', 'Q3_Race', 'CountryCode', 'FirstName', 'LastName', 'CircuitId', 
                   'DriverNumber', 'BroadcastName', 'Abbreviation', 'Points', 'HeadshotUrl', 'TeamColor']

In [76]:
data_df = data_df.drop(columns=columns_to_drop)

In [77]:
data_df.columns

Index(['DriverId', 'TeamName', 'TeamId', 'FullName', 'Position_Race',
       'ClassifiedPosition', 'GridPosition', 'Time', 'Status', 'RaceDate',
       'TotalLaps', 'LapLength', 'Position_Qual', 'Q1_Qual', 'Q2_Qual',
       'Q3_Qual', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp',
       'WindDirection', 'WindSpeed', 'Year', 'RaceName'],
      dtype='object')

In [78]:
data_df.head(5)

,DriverId,TeamName,TeamId,FullName,Position_Race,ClassifiedPosition,GridPosition,Time,Status,RaceDate,...,Q3_Qual,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed,Year,RaceName
0,vettel,Ferrari,ferrari,Sebastian Vettel,1.0,1,3.0,0 days 01:29:33.283000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.838000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
1,hamilton,Mercedes,mercedes,Lewis Hamilton,2.0,2,1.0,0 days 01:29:38.319000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.164000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
2,raikkonen,Ferrari,ferrari,Kimi Räikkönen,3.0,3,2.0,0 days 01:29:39.592000,Finished,2018-03-25 05:10:00,...,0 days 00:01:21.828000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
3,ricciardo,Red Bull Racing,red_bull,Daniel Ricciardo,4.0,4,8.0,0 days 01:29:40.352000,Finished,2018-03-25 05:10:00,...,0 days 00:01:22.152000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
4,alonso,McLaren,mclaren,Fernando Alonso,5.0,5,10.0,0 days 01:30:01.169000,Finished,2018-03-25 05:10:00,...,NaN,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix

In [79]:
data_df.isnull().sum()

DriverId                 0
TeamName                 0
TeamId                   0
FullName                 0
Position_Race            3
ClassifiedPosition       0
GridPosition             3
Time                  1163
Status                   0
RaceDate                 0
TotalLaps                0
LapLength                0
Position_Qual            3
Q1_Qual                 35
Q2_Qual                694
Q3_Qual               1343
AirTemp                  0
Humidity                 0
Pressure                 0
Rainfall                 0
TrackTemp                0
WindDirection            0
WindSpeed                0
Year                     0
RaceName                 0
dtype: int64

In [83]:
data_df = data_df[~data_df['Position_Race'].isna()]

In [84]:
# change Time into timedelta object, and then convert to total seconds
data_df['Time'] = pd.to_timedelta(data_df['Time'], errors='coerce').dt.total_seconds()
data_df['Q1_Qual'] = pd.to_timedelta(data_df['Q1_Qual'], errors='coerce').dt.total_seconds()
data_df['Q2_Qual'] = pd.to_timedelta(data_df['Q2_Qual'], errors='coerce').dt.total_seconds()
data_df['Q3_Qual'] = pd.to_timedelta(data_df['Q3_Qual'], errors='coerce').dt.total_seconds()

In [85]:
# calculate the total length of circuit, and then drop the total laps and lap length
data_df['TotalLength'] = data_df['TotalLaps'] * data_df['LapLength']
# data_df.drop(columns=['LapLength'], inplace=True)

In [86]:
# create a binary indicator for if the driver finished the race successfully or not
data_df['Finished'] = data_df['ClassifiedPosition'].apply(lambda x: 0 if x in ['R', 'W', 'D'] else 1)

In [87]:
# Fill Position_Qual null values with 20 (ranked last)
data_df['Position_Qual'] = data_df['Position_Qual'].fillna(20)
# Replace 0s in GridPosition with 20, checked manually
data_df['GridPosition'] = data_df['GridPosition'].replace(0, 20)

In [88]:
# Create cplumn indicating Podium Finish (ranked top-3)
data_df['Podium_Finish'] = (data_df['Position_Race'] <= 3).astype(int)

In [89]:
# Add speed variable (meter per sec)
data_df['Speed'] = data_df['TotalLength'] / data_df['Time']

In [90]:
data_df.columns

Index(['DriverId', 'TeamName', 'TeamId', 'FullName', 'Position_Race',
       'ClassifiedPosition', 'GridPosition', 'Time', 'Status', 'RaceDate',
       'TotalLaps', 'LapLength', 'Position_Qual', 'Q1_Qual', 'Q2_Qual',
       'Q3_Qual', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp',
       'WindDirection', 'WindSpeed', 'Year', 'RaceName', 'TotalLength',
       'Finished', 'Podium_Finish', 'Speed'],
      dtype='object')

In [91]:
data_df[['Time', 'TotalLaps', 'Q1_Qual', 'Q2_Qual', 'Q3_Qual']]

          Time  TotalLaps  Q1_Qual  Q2_Qual  Q3_Qual
0     5373.283         58   83.348   81.944   81.838
1     5378.319         58   82.824   82.051   81.164
2     5379.592         58   83.096   82.507   81.828
3     5380.352         58   83.494   82.897   82.152
4     5401.169         58   83.597   83.692      NaN
...        ...        ...      ...      ...      ...
2615  5310.415         58      NaN      NaN      NaN
2616  5312.046         58   85.159      NaN      NaN
2617       NaN         58   84.738      NaN      NaN
2618       NaN         58   84.788      NaN      NaN
2619       NaN         58   84.764      NaN      NaN

[2617 rows x 5 columns]

In [92]:
data_df['MinQualTime'] = data_df[['Q1_Qual', 'Q2_Qual', 'Q3_Qual']].min(axis=1, skipna=True)

In [95]:
def impute_qual(race):
    """
    Time imputation for Qualify rounds.

    Parameters:
        race (pd.DataFrame): The current race.

    Returns:
    pd.DataFrame: Imputed race.
    """
    max_time = race['MinQualTime'].max()

    # Iterate over rows to impute missing Time
    for idx, row in race.iterrows():
        if pd.isna(row['MinQualTime']):
            try:
                # Calculate the imputed time
                imputed_time = max_time * 1.05
                race.at[idx, 'MinQualTime'] = imputed_time
            except ValueError:
                # In case the Status does not contain a valid "+{n} Lap(s)" format
                continue
    
    return race

In [96]:
data_df = data_df.groupby(['Year', 'RaceName']).apply(impute_qual).reset_index(drop=True)

C:\Users\zyygf\AppData\Local\Temp\ipykernel_79796\3167716802.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_df = data_df.groupby(['Year', 'RaceName']).apply(impute_qual).reset_index(drop=True)

In [97]:
data_df['MaxQualSpeed'] = data_df['LapLength'] / data_df['MinQualTime']

In [55]:
# columns_to_output = ['RaceDate', 'Year', 'RaceName', 'FullName', 'DriverId', 
#                      'TeamName', 'TeamId', 'GridPosition', 'Position_Race', 'Podium_Finish',
#                      'TotalLength', 'Time', 'Speed', 'Finished']
# output_df = data_df[columns_to_output]
# output_df.to_csv('./data/f1_data_processed_2.csv', index=False)

In [56]:
# output_df.to_csv('./data/f1_data_processed_2_semi-colon.csv', sep=';', index=False)

In [98]:
def impute_time(race):
    """
    Time imputation for finished racers.

    Parameters:
        race (pd.DataFrame): The current race.

    Returns:
    pd.DataFrame: Imputed race.
    """
    max_time = race['Time'].max()
    min_time = race['Time'].min()
    total_laps = race['TotalLaps'].iloc[0]

    # Iterate over rows to impute missing Time
    for idx, row in race.iterrows():
        if pd.isna(row['Time']) and pd.notna(row['Status']) and row['Status'].startswith('+'):
            try:
                # Extract the number of laps behind the leader
                n_laps = int(row['Status'].split()[0][1:]) # "+{n} Lap(s)" -> n
                # Calculate the imputed time
                imputed_time = max_time / total_laps * n_laps + min_time
                # Ensure the imputed time is greater than the maximum time
                if imputed_time <= max_time:
                    imputed_time = max_time
                # Update the row with the imputed time
                race.at[idx, 'Time'] = imputed_time
            except ValueError:
                # In case the Status does not contain a valid "+{n} Lap(s)" format
                continue
    
    return race

In [99]:
data_df = data_df.groupby(['Year', 'RaceName']).apply(impute_time).reset_index(drop=True)
# Add speed variable (meter per sec)
data_df['Speed'] = data_df['TotalLength'] / data_df['Time']

C:\Users\zyygf\AppData\Local\Temp\ipykernel_79796\2519650596.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_df = data_df.groupby(['Year', 'RaceName']).apply(impute_time).reset_index(drop=True)

In [100]:
columns_to_output = ['RaceDate', 'Year', 'RaceName', 'FullName', 'DriverId', 
                     'TeamName', 'TeamId', 'GridPosition', 'Position_Race', 'Podium_Finish',
                     'TotalLength', 'MaxQualSpeed','Time', 'Speed', 'Finished']
output_df = data_df[columns_to_output]
output_df.to_csv('./data/f1_data_processed_full_imputed.csv', index=False)

In [101]:
output_df.to_csv('./data/f1_data_processed_full_imputed_semi-colon.csv', sep=';', index=False)

In [102]:
data_df.columns

Index(['DriverId', 'TeamName', 'TeamId', 'FullName', 'Position_Race',
       'ClassifiedPosition', 'GridPosition', 'Time', 'Status', 'RaceDate',
       'TotalLaps', 'LapLength', 'Position_Qual', 'Q1_Qual', 'Q2_Qual',
       'Q3_Qual', 'AirTemp', 'Humidity', 'Pressure', 'Rainfall', 'TrackTemp',
       'WindDirection', 'WindSpeed', 'Year', 'RaceName', 'TotalLength',
       'Finished', 'Podium_Finish', 'Speed', 'MinQualTime', 'MaxQualSpeed'],
      dtype='object')

In [64]:
data_df['Status'].unique()

array(['Finished', '+1 Lap', 'Engine', 'Power loss', 'Collision', 'Wheel',
       'Steering', 'Brakes', '+2 Laps', 'Collision damage',
       'Fuel pressure', 'Hydraulics', 'Exhaust', 'Puncture', 'Accident',
       'Electrical', 'Retired', 'Overheating', 'Tyre', 'Power Unit',
       'Gearbox', 'Suspension', 'Disqualified', 'Mechanical', '+3 Laps',
       'Oil leak', 'Turbo', 'Battery', 'Damage', 'Transmission',
       'Out of fuel', 'Spun off', 'Water pressure', 'Withdrew',
       'Electronics', 'Debris', 'Radiator', 'Illness', '+5 Laps',
       'Wheel nut', 'Driveshaft', 'Rear wing'], dtype=object)

In [14]:
# data_df.to_csv('./data/f1_data_processed.csv')

In [15]:
data_df['Q1_Qual']

0       0 days 00:01:23.348000
1       0 days 00:01:22.824000
2       0 days 00:01:23.096000
3       0 days 00:01:23.494000
4       0 days 00:01:23.597000
                 ...
1355    0 days 00:01:43.128000
1356    0 days 00:01:42.728000
1357    0 days 00:01:41.760000
1358                       NaN
1359    0 days 00:01:42.426000
Name: Q1_Qual, Length: 1360, dtype: object

In [33]:
data_df['Status'].unique()

array(['Finished', '+1 Lap', 'Wheel', 'Engine', 'Steering', 'Brakes',
       'Puncture', 'Electrical', 'Collision damage', 'Accident',
       'Collision', '+2 Laps', '+3 Laps', 'Gearbox', 'Oil leak', 'Turbo',
       'Exhaust', 'Fuel pressure', 'Hydraulics', 'Tyre', 'Power Unit',
       'Retired', 'Power loss', 'Suspension', 'Disqualified',
       'Mechanical', 'Battery', 'Overheating', 'Damage', 'Out of fuel',
       'Transmission', 'Spun off', 'Water pressure', 'Withdrew',
       'Electronics', '+5 Laps', 'Debris', 'Radiator', 'Illness',
       'Rear wing', 'Wheel nut', 'Driveshaft'], dtype=object)

In [14]:
data_df[data_df['Position_Qual'].isna()].iloc[0]

DriverId                           albon
TeamId                        toro_rosso
Position_Race                         10
ClassifiedPosition                    10
GridPosition                           0
Time                                 NaN
Status                            +1 Lap
RaceDate                  4/14/2019 6:10
TotalLaps                             56
LapLength                           5451
Position_Qual                        NaN
Q1_Qual                              NaN
Q2_Qual                              NaN
Q3_Qual                              NaN
AirTemp                        19.329921
Humidity                       45.981102
Pressure                      1019.21811
Rainfall                             0.0
TrackTemp                      27.337008
WindDirection                   93.80315
WindSpeed                       3.315748
Year                                2019
RaceName              Chinese Grand Prix
Name: 469, dtype: object

In [42]:
data_df[data_df['GridPosition'] == 0][['GridPosition', 'Position_Qual']]

      GridPosition  Position_Qual
199              0           20.0
469              0            NaN
489              0           19.0
495              0           18.0
496              0           20.0
512              0           16.0
556              0           10.0
597              0           19.0
676              0           20.0
694              0           10.0
724              0           19.0
756              0           20.0
789              0           19.0
912              0           20.0
929              0           16.0
935              0           18.0
1155             0           18.0
1158             0           20.0
1244             0           11.0
1274             0           13.0

In [31]:
data_df[['Position_Race', 'ClassifiedPosition']].head(20)

    Position_Race ClassifiedPosition
0               1                  1
1               2                  2
2               3                  3
3               4                  4
4               5                  5
5               6                  6
6               7                  7
7               8                  8
8               9                  9
9              10                 10
10             11                 11
11             12                 12
12             13                 13
13             14                 14
14             15                 15
15             16                  R
16             17                  R
17             18                  R
18             19                  R
19             20                  R

In [30]:
data_df['ClassifiedPosition'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', 'R', '16', '17', '18', '19', '20', 'D', 'W'],
      dtype=object)

In [12]:
data_df[data_df['GridPosition'] != data_df['Position_Qual']]

,DriverId,TeamId,Position_Race,ClassifiedPosition,GridPosition,Time,Status,RaceDate,TotalLaps,LapLength,...,Q3_Qual,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed,Year,RaceName
3,ricciardo,red_bull,4,4,8,0 days 01:29:40.352000,Finished,3/25/2018 5:10,58,5278,...,0 days 00:01:22.152000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
4,alonso,mclaren,5,5,10,0 days 01:30:01.169000,Finished,3/25/2018 5:10,58,5278,...,NaN,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
6,hulkenberg,renault,7,7,7,0 days 01:30:05.954000,Finished,3/25/2018 5:10,58,5278,...,0 days 00:01:23.532000,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
7,bottas,mercedes,8,8,15,0 days 01:30:07.622000,Finished,3/25/2018 5:10,58,5278,...,NaN,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
8,vandoorne,mclaren,9,9,11,0 days 01:30:08.204000,Finished,3/25/2018 5:10,58,5278,...,NaN,24.077477,30.915315,997.003604,0.045045,36.324324,294.126126,3.691892,2018,Australian Grand Prix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,mick_schumacher,haas,18,18,20,NaN,+3 Laps,5/23/2021 13:00,78,3337,...,NaN,20.760741,61.424444,1015.571111,0.000000,37.595556,202.081481,0.316296,2021,Monaco Grand Prix
1340,perez,red_bull,1,1,6,0 days 02:13:36.410000,Finished,6/6/2021 12:00,51,6003,...,0 days 00:01:41.917000,24.170930,55.805233,1014.730814,0.000000,38.314535,180.186047,0.283721,2021,Azerbaijan Grand Prix
1344,norris,mclaren,5,5,9,0 days 02:13:41.164000,Finished,6/6/2021 12:00,51,6003,...,0 days 00:01:41.747000,24.170930,55.805233,1014.730814,0.000000,38.314535,180.186047,0.283721,2021,Azerbaijan Grand Prix
1345,alonso,alpine,6,6,8,0 days 02:13:42.792000,Finished,6/6/2021 12:00,51,6003,...,0 days 00:01:42.327000,24.170930,55.805233,1014.730814,0.000000,38.314535,180.186047,0.283721,2021,Azerbaijan Grand Prix
1346,tsunoda,alphatauri,7,7,7,0 days 02:13:43.034000,Finished,6/6/2021 12:00,51,6003,...,0 days 00:01:42.211000,24.170930,55.805233,1014.730814,0.000000,38.314535,180.186047,0.283721,2021,Azerbaijan Grand Prix

In [30]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DriverId            1360 non-null   object
 1   TeamId              1360 non-null   object
 2   Position_Race       1360 non-null   int64
 3   ClassifiedPosition  1360 non-null   object
 4   GridPosition        1360 non-null   int64
 5   Time                664 non-null    object
 6   Status              1360 non-null   object
 7   RaceDate            1360 non-null   object
 8   TotalLaps           1360 non-null   int64
 9   LapLength           1360 non-null   int64
 10  Position_Qual       1357 non-null   float64
 11  Q1_Qual             1338 non-null   object
 12  Q2_Qual             995 non-null    object
 13  Q3_Qual             662 non-null    object
 14  AirTemp             1360 non-null   float64
 15  Humidity            1360 non-null   float64
 16  Pressure            1360 non-null   float64
 17  Rainfall            1360 non-null   float64
 18  TrackTemp           1360 non-null   float64
 19  WindDirection       1360 non-null   float64
 20  WindSpeed           1360 non-null   float64
 21  Year                1360 non-null   int64
 22  RaceName            1360 non-null   object
dtypes: float64(8), int64(5), object(10)
memory usage: 244.5+ KB